.idea/misc.xml
.idea/workspace.xml
RobotTankAI.iml
binary_0.0.csv
bipolar_0.9.csv
binary_0.9.csv
bipolar_0.0.csv
config/*
hiddenToOutputWeights.txt
inputToHiddenWeights.txt
out/*
robots/robot.database